.navbar {
    width: 95%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .products-btn {
    background: #f4f4ff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .products-btn:hover {
    background-color: #e0e0ff;
  }
  
  .send-icon {
    font-size: 16px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    color: #e1e1f1;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .navbar-links li:hover {
    color: #ffffff;
    transition: 0.2s;
  }
  